NODE_ENV=development
PORT=3000
APP_DEBUG=true
LOG_LEVEL=debug
DATABASE_URL=


# Database Credentials (Used by Docker)
DB_PASSWORD=secret
DB_NAME=task_manager

# At least 32 characters long
APP_SECRET=
JWT_ACCESS_SECRET=this_is_an_access_secret
JWT_REFRESH_SECRET=this_is_a_refresh_secret

# OAuth2 Configuration (Optional for dev)
ISSUER_BASE_URL=
AUDIENCE=

# Default Pagination
DEFAULT_PAGE_SIZE=10

# Email Configuration
CONSOLE_LOG_EMAILS=true
MAIL_MAILER=smtp
MAIL_HOST=smtp.mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=
MAIL_PASSWORD=
ADMIN_EMAIL=admin@example.com
